body
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	/*background:#000 !important;*/
	background:linear-gradient(#1D4350,#A43931,#BE5869);
}
#go_to_top
{
	position:fixed;
	bottom:30px;
	right:30px;
	border-radius:5px;
	transition:2s;
}
#go_to_top:hover {
  cursor: pointer;
  background-color: #333;
}
#go_to_top.show
{
	opacity:1;
}
.glyphicon-chevron-up
{
	font-size:20px !important;
}
.affix
{
	top:0;
	z-index:999 !important;
	width:98%;
}
.top_header
{
	background:rgba(220,220,220,1);
	background-size:cover;
	width:100%;
	display:inline-block;
	height:auto;
	padding-bottom:0;
}
.top_header h2
{
	float:left;
	padding:5px;
	margin-left:2%;
	font-weight:900;
}
.top_header h5
{	
	position:relative;
	float:right;	
	margin-right:2%;	
	line-height:100%;
	margin-top:1.5%;
	font-size:20px;
	text-transform:uppercase;
	letter-spacing: 1px
}

/*navigation styling start*/
.navbar
{
	padding-top:0;
	/*background:#0000ff !important;*/
	margin:0 !important;
	/*border:none !important;*/
	/*border-top:1px solid transparent !important;*/
	overflow:hidden;

}
ul.navbar-nav
{
	margin-left:30px;
}
ul.navbar-nav li
{
	margin-left:2px;
}
ul.navbar-nav li a
{
	color:white!important;
	font-size:16px;
	/*padding-left:0px;*/
	border-radius:5%;
	font-weight:550;
}
ul.navbar-nav li.active a
{
	color:black !important;
	background:white !important;
}
ul.navbar-nav li:hover a
{
	color:black !important;
	background:white !important;
}
.navbar-header ul li a img
{
	position:relative;
	width:50px;
	height:50px;
	top:-14px;
	border-radius:50%;
	transform:scale(1.2);
	margin-right:5px;
	border:1px solid #fff;
}

/*navigation ends*/
/*celebrity starts*/

.celeb_container
{
	background:rgba(210,210,210,1);
	position:relative;
	box-shadow:5px 8px 8px rgba(0,0,0,0.5);
}
.celeb_header h1
{
	font-weight:bold;
	padding:45px 0 10px 55px;
	position:relative;
	left:5%;
	border-bottom:1px solid rgba(0,0,0,0.5);
	width:90%;
	/*box-shadow:1px 3px 2px rgba(0,0,0,0.2);*/
}
.celeb_content
{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
	grid-gap:20px;
	margin:20px auto 60px;	
	padding:18px;
}
.celeb_content .card
{
	position:relative;
	width:350px;
	text-align:center;
	margin:0 auto;
	box-shadow:0 10px 40px rgba(0,0,0,0.5);
	overflow:hidden;
	padding:20px;
	background:#333;
	color:#fff;
}
.celeb_content .layer
{
	position:absolute;
	background:linear-gradient(#03a9f4,#e91ee3);
	height:100%;
	width:100%;
	left:0;
	top:calc(100% - 4px);
	z-index:1;
	transition:0.5s;
}	
.celeb_content .card:hover .layer
{
	top:0;
}
.celeb_content .card .content
{
	z-index:2;
	position:relative;
}
.celeb_content .card p
{
	font-size:16px;
	color:#fff;
	line-height:24px;
}
.celeb_content .card p a
{
	text-decoration:none;
	color:#f00;
}
.celeb_content .card .content p a:hover
{
	text-decoration:underline;
	cursor:pointer;
}
.celeb_content .card .content .image img
{
	position:relative;
	height:100px;
	width:100px;
	border-radius:50%;
	border:4px solid #fff;
	box-shadow:0 10px 20px rgba(0,0,0,0.5);
}
.celeb_content .card .details h2
{
	font-size:18px;
	color:#fff;
}
.celeb_content .card .details span
{
	color:#03a9f4;
	font-size:15px;
	transition:0.5s;
}
.celeb_content .card .details span a
{
	color:#fff;
	text-decoration:none;
}
.celeb_content .card .details span a:hover
{
	text-decoration:underline;
	cursor:pointer;
}
.celeb_content .card:hover .content .details span
{
	color:#eee;
}

#go_to_top
{
	position:fixed;
	bottom:30px;
	right:30px;
	border-radius:5px;
	transition:2s;
	z-index:3;
}
#go_to_top:hover {
  cursor: pointer;
  background-color: #333;
}
#go_to_top.show
{
	opacity:1;
}
.glyphicon-chevron-up
{
	font-size:20px !important;
}
